html,
body {
  cursor: none;
}

.cursor {
  position: fixed;
  left: -100px;
  background: white;
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  z-index: 10000;

  transition: transform 0.1s cubic-bezier(.22, .38, .48, .98),
    opacity 0.1s cubic-bezier(.22, .38, .48, .98),
    width 0.1s cubic-bezier(.22, .38, .48, .98);

  user-select: none;
  pointer-events: none;
  opacity: 0.6;
}

.cursor-disappear {
  opacity: 0;
  transform: scale(2);
}

.cursor-highlight {
  opacity: 1;
  transform: scale(2);
  mix-blend-mode: difference;
}

.cursor-enlarge {
  opacity: 0.3;
  transform: scale(2);
}

.cursor-enlarge-pressed {
  opacity: 0.4 !important;
  transform: scale(1.5) !important;
}

.cursor-caret {
  opacity: 1;
  width: 2px;
  border-radius: 0%;
  transform: translateX(10px);
}

@media (max-width: 1000px) {
  .cursor {
    display: none;
  }
}

.mini-cursor {
  position: fixed;
  left: -100px;
  background: white;
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 100%;
  z-index: 1000;

  mix-blend-mode: difference;

  user-select: none;
  pointer-events: none;
  opacity: 1;

  transition: opacity 0.1s cubic-bezier(.22, .38, .48, .98);
}

@media (max-width: 1000px) {
  .mini-cursor {
    display: none;
  }
}