html, body {
  cursor: none;
}

.cursor {
  position: fixed;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 1000;

  transition: transform 0.1s cubic-bezier(.22,.38,.48,.98),
  opacity 0.1s cubic-bezier(.22,.38,.48,.98);
  
  user-select: none;
  pointer-events: none;
  opacity: 0.6;
}

.cursor-disappear {
  opacity: 0;
  transform: scale(2);
}

.cursor-highlight {
  opacity: 1;
  transform: scale(2);
  mix-blend-mode: difference;
}