body {
  overflow: overlay;
}

#timeline {
  display: block;
  background-color: white;

  position: fixed;
  top: 0;
  left: calc(12dvw - 2px);

  height: 100dvh;
  width: 4px;
}

#experience-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  box-sizing: border-box;

  width: calc(88dvw + 8px);
  height: 100dvh;

  position: absolute;
  left: calc(12dvw - 8px);

  padding: clamp(7rem, 40dvh, 50dvh) 11dvw clamp(3rem, 50dvh, 50dvh) 2rem;

  overflow-x: scroll;
  scroll-snap-type: y mandatory;
}

.experience-item {
  display: flex;

  scroll-snap-align: center;

  align-items: center;
}

.experience-dot {
  position: relative;
  left: calc(-2rem);
  height: 16px;
  width: 16px;

  background-color: white;

  border-radius: 50%;
}

.experience-panel {
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  -moz-filter-backdrop-filter: blur(1rem);
  -o-filter-backdrop-filter: blur(1rem);
  -ms-filter-backdrop-filter: blur(1rem);

  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  flex-direction: column;
  
  padding: 2rem 2.5rem;

  transition: all 0.3s cubic-bezier(.22, .38, .48, .98);
}

.experience-panel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-size: cover;
  background-position: center;
  filter: blur(0.3rem);
  opacity: 0;

  transition: all 0.3s cubic-bezier(.22, .38, .48, .98);
}

.image-serato {
  background-image: url('img/experience/serato-1.jpg');
}

.image-tidy {
  background-image: url('img/experience/tidy-1.jpg');
}

.image-trp {
  background-image: url('img/experience/trp-1.png');
  background-position: top right;
}

.image-finergy {
  background-image: url('img/experience/finergy-1.png');
  background-color: left;
}

.experience-panel h1 {
  margin: 0;
}

.experience-panel h2 {
  margin: 0;
  font-weight: 400;

  transition: all 0.3s cubic-bezier(.22, .38, .48, .98);
}

.experience-panel-expanded {
  transform: scale(1.03);
  transition: all 0.3s cubic-bezier(.22, .38, .48, .98);

  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2rem;

  z-index: 2;
}

.experience-panel-expanded .experience-panel-image {
  opacity: 0.3;
  transition: all 0.3s cubic-bezier(.22, .38, .48, .98);
}

.experience-panel-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 1rem;
}

.experience-panel-content {
  max-height: 0px;
  opacity: 0;

  transition: all 0.3s cubic-bezier(.22, .38, .48, .98);
}

.experience-panel-content p:first-child {
  font-style: italic;
}

.experience-panel-expanded .experience-panel-content {
  max-height: 300px;
  opacity: 1;
}

.experience-panel-tag {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;

  margin-top: 1rem;
  padding: 0.3rem 0.6rem;
  font-weight: 500;

  border-radius: 0.5rem;
}

@media (max-width: 1000px) {
  #timeline {
    display: none;
  }

  #experience-list {
    width: 100%;
    left: 0;

    padding-left: 3rem;
    padding-right: 3rem;
  }

  .experience-dot {
    display: none;
  }

  .experience-panel {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  }

  .experience-panel-expanded .experience-panel-content {
    display: none;
  }
}
