/* CONTENT */

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  padding-top: 7rem;
  padding-bottom: 3rem;
  margin: 0 6rem;
  gap: 2.25rem;
}

#loading-card-grid {
  z-index: 20;

  background: linear-gradient(to top, #F2F3F5 85%, #adb2b8 92%) fixed;

  padding-left: 6rem;
  padding-right: 6rem;

  position: fixed;
  top: 0;
  left: -6rem;

  width: calc(100% - 12rem);
  min-height: 100vh;

  transition: all 0.5s cubic-bezier(.22, .38, .48, .98);
}

.loading-card {
  padding: 2rem;

  position: relative;

  background-color: white;
  border-radius: 1.5rem;
  box-shadow: grey 0 0 1.5rem;

  transition: transform 0.3s cubic-bezier(.22, .38, .48, .98);
}

.loading-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s cubic-bezier(.22, .38, .48, .98);

  z-index: 2;
}

.card {
  will-change: transform;
  
  padding: 2rem;

  position: relative;

  background-color: var(--my-grey);
  border-radius: 1.5rem;

  box-shadow: 0, 0, 40px rgba(125, 125, 125, 0);

  transition: transform 0.3s cubic-bezier(.22, .38, .48, .98),
    box-shadow 0.5s cubic-bezier(.22, .38, .48, .98),
    outline-width 0.3s;

  outline: solid white 0.3rem;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s cubic-bezier(.22, .38, .48, .98),
    box-shadow 0.5s cubic-bezier(.22, .38, .48, .98),
    outline-width 0.3s;

  z-index: 2;

  box-shadow:
    0 0 40px 10px rgba(113, 54, 198, 0.8),
    0 0 80px 20px rgba(222, 16, 187, 0.5),
    0 0 120px 40px rgba(58, 82, 213, 0.4);

  outline: solid white 0.1rem;
}

.card .card-background-image {
  opacity: 0.6;
  transition: opacity 0.3s cubic-bezier(.22, .38, .48, .98);
  z-index: 1;
}

.card:hover .card-background-image {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(.22, .38, .48, .98);
}

/* Shared class for cards with background overlays */
.card-background-overlay {
  overflow: hidden;
}

.card-background-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: opacity 0.3s cubic-bezier(.22, .38, .48, .98);
  z-index: 0;
  border-radius: inherit;
}

.card-background-overlay:hover::after {
  opacity: 1;
}

.card-title, .card .card-content {
  position: relative;
  z-index: 2; 
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.2), transparent 50%);
  mix-blend-mode: screen;
  opacity: 0;

  border-radius: inherit;
  width: 100%;
  height: 100%;
  pointer-events: none;

  transition: opacity 0.3s ease-out;

  z-index: 10;
}

.card:hover::before {
  opacity: 1;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card .card-content {
  transition: transform 0.3s ease-out;
}

.card:hover .card-content {
  transform: scale(1.03);
}

.card:hover .card-link {
  opacity: 1;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  position: absolute;
  height: 15%;
  width: 15%;

  top: 40%;
  right: 0;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100rem 0 0 100rem;

  z-index: 100;

  transition: background-color 0.3s cubic-bezier(.22, .38, .48, .98),
    width 0.3s cubic-bezier(.22, .38, .48, .98),
    opacity 0.3s cubic-bezier(.22, .38, .48, .98);

  cursor: none;
}

.card-link-white {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-link-span {
  width: 8%;
}

.card-link img {
  opacity: 0.6;
  max-width: 2rem;
  max-height: 2rem;

  border-radius: 0 !important;

  transition: opacity 0.3s cubic-bezier(.22, .38, .48, .98);
}

.card-link-white img {
  opacity: 1;
}

.card-link:hover {
  background-color: rgba(0, 0, 0, 0.7);
  width: 20%;
}

.card-link-white:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-link-span:hover {
  width: 10%;
}

.card-link:hover img {
  opacity: 1;
}

.image-card {
  will-change: transform;
  
  padding: 2rem;

  position: relative;

  border-radius: 1.5rem;

  box-shadow: 0, 0, 40px rgba(125, 125, 125, 0);

  background-color: transparent;

  box-shadow: none;

  padding: 0;
  height: 200px;
  max-height: 200px;
  z-index: 2;
  transition: transform 0.3s cubic-bezier(.22, .38, .48, .98), z-index 0.3s 0.3s;
}

.image-card:hover {
  z-index: 3;
  transform: scale(1.05);
}

.image-card:hover::before {
  /* No radial overlay on image-cards */
  opacity: 0;
}

.image-card img {
  width: 100%;
  max-height: 200px;
  opacity: 0.6;

  object-fit: cover;
  border-radius: inherit;

  box-shadow: black 0 0 1.5rem;

  transition: opacity 0.3s ease-in-out,
    transform 0.3s,
    max-height 0.3s;
}

.image-card:hover img {
  opacity: 1;
  max-height: clamp(500px, 60vh, 1000px);
  transform: translateY(-25%);
}

.video-card {
  position: relative;
  padding: 0;
  aspect-ratio: 1/1;
  background-color: transparent;
  box-shadow: none;
}

.video-card-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-shadow: black 0 0 1.5rem;
  z-index: 0;
  border-radius: inherit;
  opacity: 0.6;
  transition: opacity 0.3s cubic-bezier(.22, .38, .48, .98);
}

.video-card:hover .video-card-video {
  opacity: 1;
}

.static-image {
  padding: 0;

  background-color: transparent;
}

.static-image .card-content {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}

.static-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

@media (max-width: 1000px) {
  .card-link {
    background-color: rgba(0, 0, 0, 0.6);
    width: 20%;
  }

  .card-link-white {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .card-link img {
    opacity: 1;
  }

  .card-link-span {
    width: 20% !important;
  }
}

#card-welcome {
  background: rgb(222, 16, 187);
  background: linear-gradient(143deg, rgba(222, 16, 187, 1) 0%, rgba(58, 82, 213, 1) 100%);
  box-shadow: rgba(113, 54, 198, 0.8) 0 0 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;

  grid-column: span 2;
}

#card-welcome h1 {
  font-size: 6cqw;
  mix-blend-mode: overlay;
  position: relative;
  z-index: 1;

  transition: transform 0.3s ease-out;
}

#card-welcome:hover h1 {
  transform: scale(1.07);
}

#card-leetcode::after {
  background-color: #1a1a1a;
}

#card-leetcode h1 {
  color: #ffa116;
}

#card-gdgc h1,
#card-gdgc h4 {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  transition: opacity 0.3s ease-out;
}

#card-gdgc:hover h4 {
  opacity: 0;
}

#card-pmsa {
  aspect-ratio: 1/1;
}

#card-pmsa::after {
  background-image: url(img/portfolio/pmsa-1.png);
  background-size: cover;
  background-position: center;
}

#card-pmsa .card-content {
  position: absolute;
  color: var(--almost-black);
  top: 0;
  left: 0;
  margin: 2rem;
}

#card-pmsa h1 {
  text-shadow:
    0 0 2rem rgba(255, 255, 255, 1),
    0 0 2rem rgba(255, 255, 255, 1),
    0 0 2rem rgba(255, 255, 255, 1),
    0 0 2rem rgba(255, 255, 255, 1);
}

#card-deans .card-content {
  color: var(--almost-black);
}

#card-deans h4 {
  transition: opacity 0.3s ease-out;
  font-weight: 600;
}

#card-deans:hover h4 {
  opacity: 0;
}

#card-devfest {
  grid-column: span 2;
}

#card-devfest h1 {
  text-shadow:
    0 0 2rem rgba(0, 0, 0, 1),
    0 0 2rem rgba(0, 0, 0, 1),
    0 0 2rem rgba(0, 0, 0, 1),
    0 0 2rem rgba(0, 0, 0, 1);
}

#card-hackathon {
  grid-column: span 2;
}
#card-rendezvous {
  grid-column: span 2;
}

#card-rendezvous-mobile-image {
  display: none;
}

#card-rendezvous .card-content {
  color: var(--almost-black);
}

#card-rendezvous h1,
#card-rendezvous h4 {
  text-shadow:
    0 0 2rem rgba(255, 255, 255, 1),
    0 0 2rem rgba(255, 255, 255, 1),
    0 0 2rem rgba(255, 255, 255, 1),
    0 0 2rem rgba(255, 255, 255, 1);
}

#card-rendezvous h4 {
  transition: opacity 0.3s ease-out;
}

#card-rendezvous:hover h4 {
  opacity: 0;
}

#card-research h1 {
  text-shadow:
    0 0 2rem rgba(0, 0, 0, 0.5),
    0 0 2rem rgba(0, 0, 0, 0.5),
    0 0 2rem rgba(0, 0, 0, 0.5),
    0 0 2rem rgba(0, 0, 0, 0.5);
}

#card-webforms {
  grid-column: span 2;
}

#card-webforms-mobile-image {
  display: none;
}

#card-imc-launchpad h1,
#card-imc-launchpad h4 {
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-out;
}

#card-imc-launchpad h4 {
  transition: opacity 0.3s ease-out;
}

#card-imc-launchpad:hover h4 {
  opacity: 0;
}

#card-strafe .card-content {
  position: absolute;
  color: var(--almost-black);
  top: 0;
  left: 0;
  margin: 2rem;
}

#card-strafe h4 {
  transition: opacity 0.3s ease-out;
}

#card-strafe:hover h4 {
  opacity: 0;
}

#card-github::after {
  background-color: #0d1117;
}

#card-github .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.github-subtitle {
  display: flex;
  justify-content: space-between;
}

#github-streak {
  font-size: 5rem;
  font-weight: 700;
}

.commit-pattern {
  align-self: center;
}

.commits {
  display: flex;
  gap: 0.5rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.commit-less {
  width: 15px;
  aspect-ratio: 1/1;
  background-color: #0e4429;
  border-radius: 3px;
}

.commit-med {
  width: 15px;
  aspect-ratio: 1/1;
  background-color: #006d32;
  border-radius: 3px;
}

.commit {
  width: 15px;
  aspect-ratio: 1/1;
  background-color: #39d353;
  border-radius: 3px;
}

#card-trp {
  grid-column: span 2;
}

#card-trp-mobile-image {
  display: none;
}

#card-youtube h1,
#card-youtube h4 {
  text-shadow:
    0 0 2rem rgba(0, 0, 0, 1),
    0 0 2rem rgba(0, 0, 0, 1),
    0 0 2rem rgba(0, 0, 0, 1),
    0 0 2rem rgba(0, 0, 0, 1);
  transition: opacity 0.3s ease-out;
}

#card-youtube:hover h4 {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#card-tictactoe .card-content {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  margin: 2rem;
}

#card-tictactoe h1,
#card-tictactoe h4 {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  transition: opacity 0.3s ease-out;
}

#card-tictactoe h4 {
  transition: opacity 0.3s ease-out;
}

#card-tictactoe:hover h4 {
  opacity: 0;
}

#card-tsg {
  grid-column: span 2;
}

#card-tsg-mobile-image {
  display: none;
}

#card-tsg h1,
#card-tsg h4 {
  text-shadow: 0 0 0.75rem rgba(0, 0, 0, 1);
  transition: opacity 0.3s ease-out;
}

#card-tsg h4 {
  transition: opacity 0.3s ease-out;
}

#card-tsg:hover h4 {
  opacity: 0;
}

@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  #loading-card-grid {
    width: calc(100% - 6rem);
  }

  .loading-card {
    grid-column: 1 !important;
    grid-row: auto !important;
  }

  .card-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-top: 9rem;
    margin: 0 3rem;
  }

  .card {
    grid-column: 1 !important;
    grid-row: auto !important;
  }

  .card:hover::before {
    opacity: 0;
  }

  .image-card {
    height: 300px;
  }

  .image-card img {
    opacity: 0.9;
    max-height: 300px;
  }

  #card-welcome h1 {
    font-size: 3rem;
  }

  #card-rendezvous-pc-image {
    display: none;
  }

  #card-rendezvous-mobile-image {
    display: block;
  }

  #card-webforms-pc-image {
    display: none;
  }

  #card-webforms-mobile-image {
    display: block;
  }

  #card-trp-pc-image {
    display: none;
  }

  #card-trp-mobile-image {
    display: block;
  }

  #card-tsg-pc-image {
    display: none;
  }

  #card-tsg-mobile-image {
    display: block;
  }

  .commit,
  .commit-less,
  .commit-med {
    width: 30px;
    border-radius: 7px;
  }

  .no-mobile {
    display: none;
  }

  /* Full opacity backgrounds on mobile */
  .card .card-background-image,
  .video-card-video {
    opacity: 1 !important;
  }

  .card-background-overlay::after {
    opacity: 1 !important;
  }

  #card-welcome::after {
    background: linear-gradient(143deg, rgba(222, 16, 187, 1) 0%, rgba(58, 82, 213, 1) 100%) !important;
  }

  #card-github::after {
    background-color: rgba(13, 17, 23, 1) !important;
  }

  #card-pmsa::after {
    opacity: 1 !important;
  }
}

.skeleton {
  opacity: 0.8;
  animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.skeleton-text {
  width: 80%;
  height: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
@keyframes skeleton-loading {
  0% {
    background-color: #e6e8ed;
  }

}

@keyframes card-glow {
  0% {
    box-shadow:
      0 0 40px 10px rgba(113, 54, 198, 0.8),
      0 0 80px 20px rgba(222, 16, 187, 0.5),
      0 0 120px 40px rgba(58, 82, 213, 0.4);
  }
  100% {
    box-shadow:
      0 0 60px 20px rgba(222, 16, 187, 0.8),
      0 0 100px 30px rgba(113, 54, 198, 0.5),
      0 0 140px 60px rgba(58, 82, 213, 0.6);
  }
}
