/* GENERAL */

:root {
  --almost-black:#141414;
  --my-grey: #969696;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  caret-color: white;

  /* hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
}

/* WebKit-based browsers */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-panel {
  display: none!important;
 -webkit-appearance: none;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 3.5vw;
}

h3 {
  font-weight: 400;
  font-size: 1.05rem;
  color: white;
}

a {
  text-decoration: none;
  cursor: none;
}

input, textarea{
  cursor: none;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.svg {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 13px;
}

/* DARK MODE */

.dark-mode-label {
  font-size: 1.05rem;
}

input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9999px;
  top: -9999px;
  cursor: none;
}

input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
}

input[type="checkbox"].toggle + label:hover {
  cursor: none;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 3.5rem;
  height: 2rem;
  background-color: var(--almost-black);
  border-radius: 1rem;
  margin-right: 0.5rem;

  transition: .2s ease-out;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: white;
}


input[type="checkbox"].toggle + label::after {
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  border-radius: 1rem;
  left: .215rem;

  transition: .2s ease-out;
}

input[type="checkbox"].toggle:checked + label::after {
  background-color: var(--almost-black);
  transform: translateX(92.5%);
}

/* MENU */

.menu {
  /* setting a background colour here actually looks really nice*/
  position: fixed;
  z-index: 10;
  padding: 0.5rem 6rem;

  width: 100vw;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu-item {
  cursor: pointer;
}

.menu-item::after {
  content: "";
  display: block;
  height: 2px;
  background: white;

  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.2s cubic-bezier(.2,.75,.62,.98);
}

.menu-item:hover:after {
  transform: scaleX(1);
}

.dark-mode {
  margin-left: auto;
  margin-right: 12rem;
}

.dark-mode-icon {
  display: none;
}

.dark-mode-mobile {
  display: none;
}

@media (max-width: 1200px) {
  h3 {
    font-size: clamp(0.9rem, 1.5vw, 0.95rem);
  }

  .menu {
    padding: 0.5rem 3rem;
  }

  .dark-mode {
    margin-right: 5.5rem;
  }

  .dark-mode-label {
    font-size: clamp(0.9rem, 1.5vw, 0.95rem);
  }
}

@media (max-width: 1000px) {
  .menu {
    z-index: 1;
  }
  .menu .unselectable{
    display: none;
  }

  .dark-mode {
    display: none;
  }

  .dark-mode-icon {
    display: block;
    height: 5rem;
    margin-top: 4rem;
    margin-left: auto;
    opacity: 1;
  }
  
  .dark-mode-mobile {
    display: block;
    scale: 2.5;
    margin-left: 3.25rem;
    margin-top: 4rem;
    margin-right: 16vw;
  }
}

/* LANDING */

#background-video {
  transition: opacity 0.5s;

  height: 100vh;
  width: 100vw;
  
  object-fit: cover;
}

.landing-video {
  position: fixed;
  z-index: -1000;
}

.landing-screen {
  width: 100vw;
  height: 100vh;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-screen-title {
  font-weight: 300;
  color: white;

  position: fixed;
  z-index: 0;
}

.landing-text {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
}

.landing-domains-left {
  line-height: 10vh;
  text-align: right;
  width: 50vw;

  overflow-y: auto;
  height: 40vh;
  scroll-snap-type: y mandatory;
  
  cursor: grab;
  position: relative;
}

.landing-domains-right {
  line-height: 10vh;
  text-align: left;
  width: 50vw;

  overflow-y: auto;
  height: 40vh;
  scroll-snap-type: y mandatory;

  cursor: grab;
}

.tooltip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0.5;

  width: 3rem;
  animation: animate-tooltip 2.5s ease-in-out forwards;
}

@keyframes animate-tooltip {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}

@keyframes animate-tooltip-out {
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.desktop {
  scroll-snap-align: center;
  color: white;

  opacity: 0.4;
  transition: opacity 0.4s;
  transition: scale 0.3s ease-in-out;
  scale: 0.8;
}

.in-focus {
  opacity: 1;
  scale: 1;
}

.current-domain {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  bottom: 3rem;

  color: white;
  opacity: 0.5;
  
  border-radius: 7px;
  border: 2px solid white;

  padding: 0.7rem 0.95rem;
  height: 1.5rem;

  cursor: none;
  transition: all 0.4s ease;
}

.current-domain-link {
  font-weight: 500;
  font-size: 1.3rem;
}

.current-domain:hover {
  transform: scale(1.1);
  opacity: 1;
}

.link {
  height: 2rem;
}

#backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -1;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 4vw;
  }

  .current-domain {
    scale: 0.9;
    opacity: 1;
  }

  .current-domain:hover {
    transform: none;
  }
}

@media (max-width: 1000px) {
  .landing-screen-title {
    font-size: 10vw;
    font-weight: 500;
    padding-bottom: 5vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    z-index: 0;
  }

  .landing-text {
    display: none;
  }

  .current-domain {
    display: none;
  }

  .tooltip {
    display: none!important;
  }
}

/* DOTS */

.dots {
  position: fixed;
  top: 50%;
  left: 6rem;
  transform: translateY(-50%);
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dots-right {
  position: fixed;
  top: 50%;
  right: 6rem;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
  margin: 0.4rem 0;
}

.dot-triangle-left {
  width: 0;
  height: 0;
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  border-left: 0.4rem solid white;
  transform: translateY(-50%);
  position: fixed;
  left: 4.5rem;
  top: calc(50%);
  z-index: 1;
}

.dot-triangle-right {
  width: 0;
  height: 0;
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  border-right: 0.4rem solid white;
  transform: translateY(-50%);
  position: fixed;
  right: 4.5rem;
  top: calc(50%);
}

@media (max-width: 1200px) {
  .dots {
    display: none;
  }

  .dots-right {
    display: none;
  }

  .dot-triangle-left {
    display: none;
  }

  .dot-triangle-right {
    display: none;
  }
}

/* CONTACT SECTION */
.contact-background {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: transparent;
}

.contact-glass {
  display: flex; 
  flex-direction: column;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100vh);

  width: 80vw;
  height: 85vh;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  -moz-filter-backdrop-filter: blur(1rem);
  -o-filter-backdrop-filter: blur(1rem);
  -ms-filter-backdrop-filter: blur(1rem);

  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.125);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0;
}

.animate-glass-out {
  animation: animate-glass-out 0.5s cubic-bezier(.57,.02,.62,.28) forwards;
}

/* animate-out animation with keyframes for swiping down*/
@keyframes animate-glass-out {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 100vh);
  }
}

.animate-glass-in {
  animation: animate-glass-in 0.5s cubic-bezier(.38,.76,.43,.98) forwards;
}

@keyframes animate-glass-in {
  0% {
    transform: translate(-50%, 100vh);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.contact-close-button {
  margin: 2rem 0 2rem 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
  flex-shrink: 0;

  cursor: pointer;
}

.contact-close-button::before {
  content: "";
  position: absolute;
  left: 4rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
}

.contact-close-button::after {
  content: "";
  position: absolute;
  left: 6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
}

.contact-title-bar {
  width: 100%;
  height: 1px;
  flex-shrink: 0;

  /* gradient */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
}

.contact-title {
  position: absolute;

  color: white;
  font-size: 1.3rem;
  top: 1.8rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.contact-content {
  padding: 3rem 6rem 3rem 6rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.contact-content-title h1{
  color: white;
  font-weight: 700;
}

.contact-content-row {
  display: flex;
  gap: 3rem;
  margin: 2rem 0;
}

.contact-content-input {
  width: 100%;
  height: 2rem;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}

.contact-content-textarea textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
}

.contact-content-textarea {
  margin-top: 4rem;
  height: 8rem;
}

.contact-content-input input,
.contact-content-textarea textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.2rem;
  outline: none;

  display: block;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);

  background-color: transparent;
  resize: none;
}

.contact-content-textarea textarea {
  height: 8rem;
}

.contact-content-input input:focus ~ label,
.contact-content-input input:valid ~ label {
  transform: translateY(-1.3rem);
  color: white;
  font-size: 0.93rem;
} 

.contact-content-textarea textarea:focus ~label,
.contact-content-textarea textarea:valid ~label {
  color: white;
  font-size: 0.93rem;
}

.contact-content-input label {
  position: absolute;
  bottom: 0.6rem;
  font-size: 1.2rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.contact-content-textarea label {
  width: 100%;
  bottom: 2.25rem;
}

/*Underline effect*/

.contact-content-input-underline {
  position: absolute;
  height: 2px;
  width: 100%;
}

.contact-content-input .contact-content-input-underline::before,
.contact-content-input .contact-content-input-underline::after {
  position: absolute;
  content: "";
  top: -1px;
  height: 100%;
  width: 100%;
  background-color: white;

  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.2s ease-out;
}

.contact-content-input input:focus ~ .contact-content-input-underline::before, .contact-content-input-underline::after {
  transform: scaleX(1);
} 

.contact-content-input input:valid ~ .contact-content-input-underline::before, .contact-content-input-underline::after {
  transform: scaleX(1);
} 

.contact-content-input textarea:focus ~ .contact-content-input-underline::before, .contact-content-input-underline::after {
  transform: scaleX(1);
} 

.contact-content-input textarea:valid ~ .contact-content-input-underline::before, .contact-content-input-underline::after {
  transform: scaleX(1);
}

.submit-sending {
  opacity: 0.1;
  pointer-events: none;
}

.contact-content-email-links {
  display: none;
}

.contact-content-input-submit {
  display: flex;
  justify-content: flex-end;
}

.contact-content-submit-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;
  border-radius: 7px;
  border: 2px solid white;

  padding: 0.7rem 0.95rem;
  margin-top: 1.5rem;
  height: 3rem;
  width: 10rem;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
  opacity: 0.5;

  cursor: none;
  transition: all 0.4s ease;
}

.contact-content-submit-button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.contact-send {
  height: 2rem;
}

@media (max-width: 1200px) {
  .contact-content {
    padding-top: 1rem;
    padding-left: clamp(2.5rem, 6vw, 4rem);
    padding-right: clamp(2.5rem, 6vw, 4rem);
  }

  .contact-content-submit-button {
    opacity: 1;
    scale: 0.9;
  }

  .contact-content-submit-button:hover {
    transform: none;
  }
}

@media (max-width: 1000px) {
  .contact-background {
    z-index: 2;
  }

  .contact-glass {
    z-index: 2;
    height: 82dvh;
    bottom: 50%;
    transform: translate(-50%, 150vh);

    border-radius: 3.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .contact-content {
    padding: 1rem 5rem 7rem 5rem;
  }

  .contact-close-button {
    margin: 3rem 0 3rem 3rem;
    width: 4vw;
    height: 4vw;
  }
  
  .contact-close-button::before {
    content: none;
  }
  
  .contact-close-button::after {
    content: none;
  }

  .contact-title {
    font-size: 4.5vw;
    margin: 1.3vw auto 0 auto;
  }

  .contact-content-title h1 {
    font-size: 7.25vw;
  }

  .contact-content-row {
    flex-direction: column;
    padding: 0;
    gap: 7rem;
    margin-top: 7rem;
  }

  .textarea-margin {
    margin-top: 10rem;
  }

  .contact-content-input label {
    bottom: -2.5rem;
    font-size: 5.5vw;
  }

  .contact-content-textarea {
    height: 15dvh;
  }

  .contact-content-textarea label {
    bottom: 2rem;
  }

  .contact-content-textarea textarea {
    font-size: 5.5vw;
    height: 15dvh;
  }

  .contact-content-input input {
    font-size: 5.5vw;
    height: 250%;
  }

  .contact-content-input input:focus ~ label,
  .contact-content-input input:valid ~ label {
    transform: translateY(-4rem);
    color: white;
    font-size: 4vw;
  } 

  .contact-content-textarea textarea:focus ~label,
  .contact-content-textarea textarea:valid ~label {
    color: white;
    font-size: 4vw;
  }

  .contact-content-input-submit {
    display: flex; 
    justify-content: center;
    margin-bottom: 2rem;
  }

  .contact-content-submit-button {
    opacity: 1;
    scale: 2.1;
  }

  .contact-content-email-links {
    display: flex;
    justify-content: center;

    padding-top: 4.2rem;
  }

  .contact-content-email-links a {
    color: white;
    opacity: 0.6;

    text-decoration: none;
    text-decoration: underline;

    font-size: 5vw;
    font-weight: 200;
  }

  @keyframes animate-glass-in {
    0% {
      transform: translate(-50%, 150vh);
    }
    100% {
      transform: translate(-50%, 50%);
    }
  }

  @keyframes animate-glass-out {
    0% {
      transform: translate(-50%, 50%);
    }
    100% {
      transform: translate(-50%, 150vh);
    }
  }
}

/* MOBILE NAV */

.nav {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-evenly;

  height: auto;
  width: calc(100% - 10rem);
  padding: 3rem 0;
  margin: 5rem;
  border-radius: 3rem;

  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.2);

  font-size: 2rem;

  background-color: rgba(255, 255, 255, 0.4);
}

.nav-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  color: white;
}

.nav-resume-icon {
  width: 4rem;
}

.mobile-links {
  display: flex;
  gap: 8vw;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.mobile-link {
  width: 13vw;
  opacity: 0;
}

.mobile-link-icon {
  fill: white;
}

/* only appear in mobile view */
@media (min-width: 1000px) {
  .nav {
    display: none;
  }

  .mobile-links {
    display: none;
  }

  .mobile-link {
    display: none;
  }
}

.link-appear {
  animation: link-appear 0.4s ease forwards;
  pointer-events: all;
}

@keyframes link-appear {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.link-disappear {
  animation: link-disappear 0.4s ease forwards;
  pointer-events: none;
}

@keyframes link-disappear {
  0% {
    opacity: 1;
    transform: translateY(-50%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(-150%);
  }
}

.title-up {
  animation: title-up 0.4s ease forwards;
}

@keyframes title-up {
  0% {
    transform: translate(-50%, -130%);
  }

  100% {
    transform: translate(-50%, -100%);
  }
}

.title-down {
  animation: title-down 0.4s ease forwards;
}

@keyframes title-down {
  0% {
    transform: translate(-50%, -100%);
  }

  100% {
    transform: translate(-50%, -130%);
  }
}

/* EXPERIMENTS */
.hero {
  line-height: 1;
  color: #fff;
  
  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
  }
  
  .demo {
  height: 100px;
  background: #fff;
  }
  
  .layers {
  position: relative;
  }
  
  .layers::before,
  .layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
  }
  
  .layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
  }
  
  .layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
  }
  
  .single-path {
  clip-path: polygon(
  0% 12%,
  53% 12%,
  53% 26%,
  25% 26%,
  25% 86%,
  31% 86%,
  31% 0%,
  53% 0%,
  53% 84%,
  92% 84%,
  92% 82%,
  70% 82%,
  70% 29%,
  78% 29%,
  78% 65%,
  69% 65%,
  69% 66%,
  77% 66%,
  77% 45%,
  85% 45%,
  85% 26%,
  97% 26%,
  97% 28%,
  84% 28%,
  84% 34%,
  54% 34%,
  54% 89%,
  30% 89%,
  30% 58%,
  83% 58%,
  83% 5%,
  68% 5%,
  68% 36%,
  62% 36%,
  62% 1%,
  12% 1%,
  12% 34%,
  60% 34%,
  60% 57%,
  98% 57%,
  98% 83%,
  1% 83%,
  1% 53%,
  91% 53%,
  91% 84%,
  8% 84%,
  8% 83%,
  4% 83%
  );
  }
  
  .paths {
  animation: paths 5s step-end infinite;
  }
  
  @keyframes paths {
  0% {
  clip-path: polygon(
    0% 43%,
    83% 43%,
    83% 22%,
    23% 22%,
    23% 24%,
    91% 24%,
    91% 26%,
    18% 26%,
    18% 83%,
    29% 83%,
    29% 17%,
    41% 17%,
    41% 39%,
    18% 39%,
    18% 82%,
    54% 82%,
    54% 88%,
    19% 88%,
    19% 4%,
    39% 4%,
    39% 14%,
    76% 14%,
    76% 52%,
    23% 52%,
    23% 35%,
    19% 35%,
    19% 8%,
    36% 8%,
    36% 31%,
    73% 31%,
    73% 16%,
    1% 16%,
    1% 56%,
    50% 56%,
    50% 8%
  );
  }
  
  5% {
  clip-path: polygon(
    0% 29%,
    44% 29%,
    44% 83%,
    94% 83%,
    94% 56%,
    11% 56%,
    11% 64%,
    94% 64%,
    94% 70%,
    88% 70%,
    88% 32%,
    18% 32%,
    18% 96%,
    10% 96%,
    10% 62%,
    9% 62%,
    9% 84%,
    68% 84%,
    68% 50%,
    52% 50%,
    52% 55%,
    35% 55%,
    35% 87%,
    25% 87%,
    25% 39%,
    15% 39%,
    15% 88%,
    52% 88%
  );
  }
  
  30% {
  clip-path: polygon(
    0% 53%,
    93% 53%,
    93% 62%,
    68% 62%,
    68% 37%,
    97% 37%,
    97% 89%,
    13% 89%,
    13% 45%,
    51% 45%,
    51% 88%,
    17% 88%,
    17% 54%,
    81% 54%,
    81% 75%,
    79% 75%,
    79% 76%,
    38% 76%,
    38% 28%,
    61% 28%,
    61% 12%,
    55% 12%,
    55% 62%,
    68% 62%,
    68% 51%,
    0% 51%,
    0% 92%,
    63% 92%,
    63% 4%,
    65% 4%
  );
  }
  
  45% {
  clip-path: polygon(
    0% 33%,
    2% 33%,
    2% 69%,
    58% 69%,
    58% 94%,
    55% 94%,
    55% 25%,
    33% 25%,
    33% 85%,
    16% 85%,
    16% 19%,
    5% 19%,
    5% 20%,
    79% 20%,
    79% 96%,
    93% 96%,
    93% 50%,
    5% 50%,
    5% 74%,
    55% 74%,
    55% 57%,
    96% 57%,
    96% 59%,
    87% 59%,
    87% 65%,
    82% 65%,
    82% 39%,
    63% 39%,
    63% 92%,
    4% 92%,
    4% 36%,
    24% 36%,
    24% 70%,
    1% 70%,
    1% 43%,
    15% 43%,
    15% 28%,
    23% 28%,
    23% 71%,
    90% 71%,
    90% 86%,
    97% 86%,
    97% 1%,
    60% 1%,
    60% 67%,
    71% 67%,
    71% 91%,
    17% 91%,
    17% 14%,
    39% 14%,
    39% 30%,
    58% 30%,
    58% 11%,
    52% 11%,
    52% 83%,
    68% 83%
    );
  }
  
  76% {
    clip-path: polygon(
    0% 26%,
    15% 26%,
    15% 73%,
    72% 73%,
    72% 70%,
    77% 70%,
    77% 75%,
    8% 75%,
    8% 42%,
    4% 42%,
    4% 61%,
    17% 61%,
    17% 12%,
    26% 12%,
    26% 63%,
    73% 63%,
    73% 43%,
    90% 43%,
    90% 67%,
    50% 67%,
    50% 41%,
    42% 41%,
    42% 46%,
    50% 46%,
    50% 84%,
    96% 84%,
    96% 78%,
    49% 78%,
    49% 25%,
    63% 25%,
    63% 14%
    );
  }
  
  90% {
    clip-path: polygon(
    0% 41%,
    13% 41%,
    13% 6%,
    87% 6%,
    87% 93%,
    10% 93%,
    10% 13%,
    89% 13%,
    89% 6%,
    3% 6%,
    3% 8%,
    16% 8%,
    16% 79%,
    0% 79%,
    0% 99%,
    92% 99%,
    92% 90%,
    5% 90%,
    5% 60%,
    0% 60%,
    0% 48%,
    89% 48%,
    89% 13%,
    80% 13%,
    80% 43%,
    95% 43%,
    95% 19%,
    80% 19%,
    80% 85%,
    38% 85%,
    38% 62%
    );
  }
  
  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
  }
  
  .movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
  }
  
  @keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }
  
  15% {
    top: 10px;
    left: 10px;
  }
  
  60% {
    top: 5px;
    left: -10px;
  }
  
  75% {
    top: -5px;
    left: 20px;
  }
  
  100% {
    top: 10px;
    left: 5px;
  }
  }
  
  .opacity {
  animation: opacity 5s step-end infinite;
  }
  
  @keyframes opacity {
  0% {
    opacity: 0.1;
  }
  
  5% {
    opacity: 0.7;
  }
  
  30% {
    opacity: 0.4;
  }
  
  45% {
    opacity: 0.6;
  }
  
  76% {
    opacity: 0.4;
  }
  
  90% {
    opacity: 0.8;
  }
  
  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
  }
  
  .font {
  animation: font 7s step-end infinite;
  }
  
  @keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }
  
  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }
  
  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }
  
  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }
  
  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
  }
  
  .glitch span {
  animation: paths 5s step-end infinite;
  }
  
  .glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
  }
  
  .glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
  }